<div *ngIf="showPopup"  class="popup">

  <div class="popup_cont">
  <h1 class="headingg">Edit Your Todo</h1>


<div id="editor" class="editor_container_main">
  <p>Title :</p>

  <ckeditor class="editor_container"
    [editor]="Editor"
    [(ngModel)]="titlevalue"
    (ngModelChange)="titleChange($event)"
  >
</ckeditor>



  <p>Description :</p>
  <ckeditor class="editor_container"
    [editor]="Editor"
    [(ngModel)]="descriptionvalue"
    (ngModelChange)="descriptionvalueChange($event)"
  ></ckeditor>

</div>


  <form (ngSubmit)="handleEdit_form()">
    <input
      [(ngModel)]="edited_todo.title"
      name="title"
      value="{{ titlevalue }}"
      type="text"
      placeholder="Title"
    class="hide"

    />
    <input
      [(ngModel)]="edited_todo.description"
      value="{{ descriptionvalue }}"
      name="description"
    class="hide"

      type="text"
      placeholder="Description"
    />

    <p>Status : </p>
    <select [(ngModel)]="edited_todo.status" name="status">
      <option value="Completed">Select Status</option>
      <option value="Completed">Completed</option>
      <option value="Pending">Pending</option>
    </select>
    <button class="update_btn" type="submit">Update</button>
    
  </form>


  <button class="cancel_btn" (click)="editor_cancel()">Cancel</button>

</div>


</div>
