




<div class="accordion" id="accordionExample">

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        <strong>Introduction</strong>
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>
          The Todo Application is a web-based task management tool built using
          Angular. It allows users to create, edit, delete, and search todo items.
          The application provides offline support using local storage and online
          synchronization with a Firebase backend.
        </li>
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
       <strong> Key Features</strong>
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>Create new todo items with a title, description, and status.</li>
      <li>
        Edit existing todo items including title, description, and status.
      </li>
      <li>Delete todo items.</li>
      <li>Search todo items by title.</li>
      <li>Filter todo items by status</li>
      <li>
        Offline support: Ability to perform CRUD operations when offline, with
        synchronization when online.
      </li>
      <li>
        Multilingual support: Ability to change the application language
        (English, French, Spanish, Tamil).
      </li>
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
    <strong> Todo Component</strong>
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>
          Manages the main todo functionality including adding, editing, deleting,
          and filtering todo items.
        </li>
        <li>Displays the list of todo items.</li>
        <li>Utilizes CKEditor for rich text editing.</li>
        <li>Implements offline support and synchronization with Firebase.</li>
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
        <strong>Todo Edit Popup Component</strong>
      </button>
    </h2>
    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>Provides a popup window for editing todo items.</li>
        <li>Utilizes CKEditor for editing todo item details.</li>
        <li>Emits events to update todo items.</li>
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
        <strong>External Libraries</strong>
      </button>
    </h2>
    <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>
          <span>CKEditor: </span>Integrated for rich text editing capabilities in
          todo item descriptions.
        </li>
        <li>
          <span>ngx-translate:</span> Used for multilingual support, allowing
          language selection and translation of application texts.
        </li>
        <li>
          <span>Toaster:</span> Provides toast notifications for various actions
          such as adding, editing, and deleting todo items.
        </li>
      </div>
    </div>
  </div>



  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
     <strong>Usage</strong>
      </button>
    </h2>
    <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <li>Clone the repository to your local machine.</li>
        <li>Install dependencies using npm install</li>
        <li>Run the application using ng serve</li>
        <li>Access the application in your browser at http://localhost:4200. </li>
      </div>
    </div>
  </div>

  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
      <strong>  Deployment</strong>
      </button>
    </h2>
    <div id="collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
      <div class="accordion-body">
       
      <li>The application is deployed using the Angular CLI.</li>
      <li>eployment settings in the Angular project.</li>
      <li>Deployment Link :  "https://todo-application-pied-phi.vercel.app/" </li>
      <a href="https://todo-application-pied-phi.vercel.app/"></a>
      </div>
    </div>
  </div>





</div>