

<div class="main_container">
    



<div class="taskadd">

  <h1 class="heading">Add Your Todo</h1>

<div class="editor_container_main">
  <strong>Title : </strong>
  <ckeditor class="editor_container" [editor]="Editor" [(ngModel)]="titlevalue"  (ngModelChange) = "titleChange($event)"  ></ckeditor>
  
  <strong>Description : </strong>
  <ckeditor  class="editor_container" [editor]="Editor" [(ngModel)]="descriptionvalue"  (ngModelChange) = "descriptionvalueChange($event)"  ></ckeditor>
  

</div>


  <form class="form1" (ngSubmit)="handle_form(form_data)" #form_data="ngForm">
    <input class="hide" [(ngModel)]="title" name="title" value="{{titlevalue}}" type="text" placeholder="title"/>




    <!-- <input [(ngModel)]="title" name="title" type="text" placeholder="title" required /> -->
    <input class="hide" [(ngModel)]="description" value="{{descriptionvalue}}" name="description" type="text" placeholder="description"/>
    <select [(ngModel)]="status" name="status" required>
      <option value="">Select Status</option>
      <option value="Completed">Completed</option>
      <option value="Pending">Pending</option>
    </select>
    <button [disabled]="!form_data.form.valid" type="submit">ADD</button>
  </form>

 




</div>

<div class="todo_container">
  <div class="filterr">
    <input [(ngModel)]="serchfilter" class="search_input" (input)="handle_filter()" placeholder="search by title" type="text">


<select [(ngModel)]="status_fil" (change)="filter_by_status()"  class="select_tag" name="status">
  <option value="">Select By Status</option>
  <option value="Completed">Completed</option>
  <option value="Pending">Pending</option>

</select>

  </div>
  <div class="todooos">
    <div *ngFor="let ele of users" class="items">
  
      <strong>{{ 'title' | translate }}: </strong>
      <p [innerHTML]="ele.title | translate"></p>
      <!-- <h3>{{ ele.title  | translate}}</h3> -->
  
      <strong>{{ 'description' | translate }}</strong>
      <p [innerHTML]="ele.description | translate"></p>
      <!-- <p>{{ ele.description  | translate}}</p> -->
  
  
  
      <!-- <p class="status" (click)="handle_status(ele.id)">{{ 'status' | translate }}: {{ ele.status }}</p> -->
  
  
      
      <strong>{{ 'status' | translate }}</strong>
      <p>{{ ele.status  | translate}}</p>
  
  
  
  
  
    <div class="todo_btn">
      <button (click)="handle_delete(ele)">{{ 'delete' | translate }}</button>
      <button (click)="edit_popup(ele)">{{ 'edit' | translate }}</button>
      <button (click)="shareable_link()">{{ 'share' | translate }}</button>
  
    </div>
  
  
  
    </div>
  </div>
</div>



</div>



<app-todoeditpopup *ngIf="show_popup" [todo]="selected_todo" (editTodo)="Update_Todo($event)"></app-todoeditpopup>
